# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

botan.dll
server-tls.crt
server-tls.key
vmenu_bans.db
resources/\[eup\]/
resources/\[maps\]/
resources/\[gangbases\]/
resources/\[carpacks\]/
citizen/
cfx_curl_x86_64.dll
citizen-devtools.dll
citizen-resources-core.dll
citizen-resources-metadata-lua.dll
citizen-scripting-core.dll
citizen-scripting-lua.dll
citizen-scripting-lua54.dll
citizen-scripting-mono.dll
citizen-scripting-v8.dll
citizen-server-gui.dll
citizen-server-impl.dll
citizen-server-instance.dll
citizen-server-main.dll
citizen-server-monitor.dll
citizen-server-net.dll
components.json
comptest.dll
conhost-server.dll
CoreRT.dll
debug-script.dll
devcon.dll
ETWProviders64.dll
FXServer.exe
http-client.dll
icudtl.dat
icui18n.dll
icuuc.dll
imgui.dll
imgui.ini
libhoard.dll
libmono-btls-shared.dll
libuv.dll
LICENSE
mono-2.0-dac-sgen.dll
mono-2.0-sgen.dll
MonoPosixHelper.dll
mysql.cfg
mysql_dev.cfg
net-base.dll
net-http-server.dll
net-tcp-server.dll
nng.dll
node.dll
permissions.cfg
perms.cfg
profiles.dll
QBUS.sql
resources.cfg
run.cmd
scrbind-base.dll
scripting-server.dll
server.cfg
server.cfg.bkp
ServerStarter.bat
steam.dll
sticky.dll
svadhesive.dll
v8.dll
v8_libbase.dll
v8_libplatform.dll
vfs-core.dll
vfs-impl-server.dll
voip-server-mumble.dll
resources/\[bikepack\]/
cache/
