citizen/system_resources/
cache/
citizen/
resources/\[bikepack\]/
resources/\[carpacks\]/
resources/\[eup\]/
resources/\[gangbases\]/
resources/\[maps\]/
api-ms-win-core-console-l1-1-0.dll
api-ms-win-core-console-l1-2-0.dll
api-ms-win-core-datetime-l1-1-0.dll
api-ms-win-core-debug-l1-1-0.dll
api-ms-win-core-errorhandling-l1-1-0.dll
api-ms-win-core-file-l1-1-0.dll
api-ms-win-core-file-l1-2-0.dll
api-ms-win-core-file-l2-1-0.dll
api-ms-win-core-handle-l1-1-0.dll
api-ms-win-core-heap-l1-1-0.dll
api-ms-win-core-interlocked-l1-1-0.dll
api-ms-win-core-libraryloader-l1-1-0.dll
api-ms-win-core-localization-l1-2-0.dll
api-ms-win-core-memory-l1-1-0.dll
api-ms-win-core-namedpipe-l1-1-0.dll
api-ms-win-core-processenvironment-l1-1-0.dll
api-ms-win-core-processthreads-l1-1-0.dll
api-ms-win-core-processthreads-l1-1-1.dll
api-ms-win-core-profile-l1-1-0.dll
api-ms-win-core-rtlsupport-l1-1-0.dll
api-ms-win-core-string-l1-1-0.dll
api-ms-win-core-synch-l1-1-0.dll
api-ms-win-core-synch-l1-2-0.dll
api-ms-win-core-sysinfo-l1-1-0.dll
api-ms-win-core-timezone-l1-1-0.dll
api-ms-win-core-util-l1-1-0.dll
api-ms-win-crt-conio-l1-1-0.dll
api-ms-win-crt-convert-l1-1-0.dll
api-ms-win-crt-environment-l1-1-0.dll
api-ms-win-crt-filesystem-l1-1-0.dll
api-ms-win-crt-heap-l1-1-0.dll
api-ms-win-crt-locale-l1-1-0.dll
api-ms-win-crt-math-l1-1-0.dll
api-ms-win-crt-multibyte-l1-1-0.dll
api-ms-win-crt-private-l1-1-0.dll
api-ms-win-crt-process-l1-1-0.dll
api-ms-win-crt-runtime-l1-1-0.dll
api-ms-win-crt-stdio-l1-1-0.dll
api-ms-win-crt-string-l1-1-0.dll
api-ms-win-crt-time-l1-1-0.dll
api-ms-win-crt-utility-l1-1-0.dll
botan.dll
devcon.dll
ETWProviders64.dll
FXServer.exe
http-client.dll
icudtl.dat
icui18n.dll
icuuc.dll
imgui.dll
imgui.ini
libhoard.dll
libmono-btls-shared.dll
libuv.dll
LICENSE
mono-2.0-dac-sgen.dll
mono-2.0-sgen.dll
MonoPosixHelper.dll
msvcp140.dll
msvcp140_1.dll
msvcp140_2.dll
msvcp140_atomic_wait.dll
msvcp140_codecvt_ids.dll
net-base.dll
net-http-server.dll
net-tcp-server.dll
nng.dll
node.dll
profiles.dll
scrbind-base.dll
scripting-server.dll
server-monitor-token.key
server-tls.crt
server-tls.key
steam.dll
sticky.dll
svadhesive.dll
ucrtbase.dll
v8.dll
v8_libbase.dll
v8_libplatform.dll
vccorlib140.dll
vcruntime140.dll
vcruntime140_1.dll
vfs-core.dll
vfs-impl-server.dll
vmenu_bans.db
voip-server-mumble.dll
resources/\[qb\]/qb-scoreboard/html/.vs/
cfx_curl_x86_64.dll
citizen-devtools.dll
citizen-resources-core.dll
citizen-resources-metadata-lua.dll
citizen-scripting-core.dll
citizen-scripting-lua.dll
citizen-scripting-lua54.dll
citizen-scripting-mono.dll
citizen-scripting-v8.dll
citizen-server-fxdk.dll
citizen-server-gui.dll
citizen-server-impl.dll
citizen-server-instance.dll
citizen-server-main.dll
citizen-server-monitor.dll
citizen-server-net.dll
components.json
comptest.dll
concrt140.dll
conhost-server.dll
CoreRT.dll
debug-script.dll
start_4107_default.bat
FXServer/.gitignore
txData/admins.json
txData/default/config.json
txData/default/data/playersDB.backup.json
txData/default/data/playersDB.json
txData/default/data/stats_heatmapData_v1.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
ServerStarter.bat
.vs/
